:root {
    --primary: #c7b84a;
    --secondary: #655c26;
    --light-creamy-beige: #f9f7ea;
    --red: #ff0202;
    --white: #ffffff;
    --black: #000000;
    --brick-red: #c23a2b;
    --light-gray: #949292;
}

.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body {
    font-family: "Noto Sans", sans-serif;
}

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.color-secondary {
    color: var(--secondary);
}
.color-primary {
    color: var(--primary);
}
.color-white {
    color: var(--white);
}
.color-red {
    color: var(--brick-red);
}
.mt-5 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mt-70 {
    margin-top: 70px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mt-90 {
    margin-top: 90px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mt-150 {
    margin-top: 150px;
}
.mb-150 {
    margin-bottom: 150px;
}
.separator {
    width: 100%;
    height: 1px;
    margin: 1.5rem 0;
    background: var(--secondary);
}

.rounded-full {
    border-radius: 50%;
}
.header {
    background: url("../images/inner-bg.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 15px 0;
}
.logo {
    max-width: 200px;
}
a.logo img {
    border-radius: 0 0 15px 15px !important;
    margin-top: -50px;
    background-color: #fff !important;
}
.btn-primary {
    background: var(--brick-red);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
.btn-primary:hover {
    background: var(--secondary);
}
.nav-top {
    font-size: 0.85rem;
}
.nav-main .nav-item {
    padding: 5px 15px;
}
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
.small-thumb {
    width: 30px;
    height: 30px;
}
.section-title {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    background: var(--brick-red);
    padding: 0.35rem 0;
    border-radius: 5px;
}

.section-title h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0;
}
.page-title {
    text-align: left;
    margin: 2.5rem 0;
    width: 100%;
    padding: 0.35rem 0;
    border-bottom: 1px solid var(--black);
}
.page-title h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--brick-red);
    margin-bottom: 0;
}
.form-container {
    background: var(--light-creamy-beige);
    padding: clamp(15px, 3vw, 80px);
    border-radius: 5px;
    margin-top: 15px;
}
.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}
.profile-form form {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}
.form-group label {
    width: 210px;
    max-width: 100%;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #f0eee0;
}
.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.profile-form textarea {
    height: 200px !important;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #f0eee0;
}
.form-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.form-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-tabs ul.nav.nav-tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: none;
}
.form-tabs .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-tabs .nav-link {
    color: #000;
    padding: 5px 0;
}
.form-tabs .nav-link.active {
    border-bottom: 2px solid var(--brick-red);
}
.documents-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    max-width: 90%;
    width: 450px;
    flex-wrap: wrap;
}
.documents-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}
.documents-row .custom-file-upload {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.documents-row .custom-file-upload:hover {
    background-color: #f5f5f5;
}

.documents-row .custom-file-upload svg {
    width: 18px;
    height: 18px;
    fill: var(--brick-red);
}
.documents-row input[type="file"] {
    margin-left: 10px;
    width: 300px;
    display: none;
}
.single-field {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}
.added-items {
    list-style: none;
    display: flex;
    flex-flow: wrap;
}
.added-items li {
    background: var(--white);
    width: max-content;
    padding: 8px;
    margin: 0 10px 10px 0;
}
.added-items li button {
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}

.form-control[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
}

.input-group-text {
    background-color: #f8f9fa;
    border-left: none;
}

.input-group .form-control {
    border-right: none;
}

.input-group .form-control:focus {
    z-index: 3;
}
.gender-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 253px;
}
.gender-select label {
    width: 75px;
}
.gender-select input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}
.gender-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specialization-complete-form {
    width: 200px;
    margin: 1rem auto;
    text-align: center;
}
#selected-file-list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
}
#selected-file-list li {
    background: var(--white);
    width: max-content;
    padding: 8px;
    margin: 0 10px 10px 0;
}
.profile-info {
    background: var(--light-creamy-beige);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}
.profile-info p {
    margin-bottom: 0;
    font-size: 1rem;
}
.basic_personal p.name {
    font-size: 1.5rem;
    font-weight: bold;
}
.basic_personal p.designation {
    color: var(--secondary);
    margin-bottom: 1.3rem;
}
.namedetails {
    color: var(--secondary);
}
.sm-icon {
    width: 28px;
    max-width: 28px;
    margin-right: 10px;
}
ul.social-media {
    padding-left: 0;
    list-style: none;
}
ul.social-media li {
    display: flex;
    margin-right: 10px;
}
ul.social-media li a {
    color: var(--secondary);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
ul.social-media li a:hover {
    text-decoration: none;
}
.profile-info h3 {
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: bold;
}
.profile-image {
    width: 80px;
}
.course-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.course-group p {
    font-size: 1.2rem;
}
.course-group-name {
    color: var(--secondary);
}
.course-group-info {
    width: max-content;
    padding-right: 15px;
}
.course-group-dates {
    display: flex;
    justify-content: space-between;
}
.document-box {
    padding: 10px;
}
/* \login form */

.login-container {
    width: 400px;
    margin: 1rem auto 3.5rem auto;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    padding: 2rem 2.5rem;
    background-color: var(--light-creamy-beige);
}
.login-container h3 {
    margin-bottom: 2rem;
}
.loginform label,
.loginform button,
.loginform input {
    width: 100%;
    margin-bottom: 1rem;
}
.loginform input {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #000;
}
.dashboard-container {
    background-color: var(--light-creamy-beige);
    padding: 30px;
    border-radius: 10px;
}
.card {
    background: var(--light-creamy-beige);
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 380px;
    margin: 0 auto;
}
.status-complete {
    color: green;
    font-weight: bold;
}
.status-incomplete {
    color: var(--red);
    font-weight: bold;
}
.nationalid {
    width: 70%;
    max-width: 200px;
    margin: 0;
    display: block;
}
.filter-title h4 {
    background: var(--brick-red);
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem;
}
.searchboxfilter {
    margin: 1rem 0;
    background: var(--light-creamy-beige); 
    padding: 2.5rem 1rem;
}
.searchboxfilter label {
    display: flex;
    width: 100%;
    background: var(--white);
    color: var(--light-gray);
}
.searchboxfilter input {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    color: var(--black);
}
.searchboxfilter input::placeholder {
    color: var(--light-gray);
}